/** Add css rules here for your application. */
.mybody0 {
	background-image: url('nvs0.jpg');

}
.mybody1 {
	background-image: url('nvs1.jpg');

}

.mybody2 {
	background-image: url('nvs2.jpg');

}
.mybody3 {
	background-image: url('nvs3.jpg');

}
.mybody4 {
	background-image: url('nvs4.jpg');

}
.mybody5 {
	background-image: url('nvs5.jpg');

}
.mybody6 {
	background-image: url('nvs6.jpg');

}
.mybody7 {
	background-image: url('nvs7.jpg');

}
.mybody8 {
	background-image: url('nvs8.jpg');

}
.mybody9 {
	background-image: url('nvs9.jpg');

}
.mybody10 {
	background-image: url('nvs10.jpg');

}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.gwt-Button {
	opacity:0.6;
}

.gwt-Label {
	opacity:1;
}

.gwt-TextBox{
		opacity:0.6;
}
.gwt-ListBox{
		opacity:0.6;
}
.gwt-CellTable{
		opacity:0.6;
		font-weight: bold;
}



/*les autres header*/
.myCellTableStyle th {
    border-right: 1px solid #d3d3d3;
    opacity:0.6;
    /*font-weight: bold;*/
     color: red;
      background-color: #2F2C2B;
      font-size: 11pt;
}

